html {
  head {
    title "My App"
  }
  body {
    h1 "My App"
    
    section {
      "This is cool"

      // Statements
      {% for(var i=0; i < 3; i++) { %}

        // Expressions
        p {{ i }}

      {% } %}
    }
  }
}